i.glyphicon { 
    display: none; 
}
/* .btn-submit::after{
    content:'Save Profile'


} */
.btn-add::after {
    content: 'Add';
    color: black;
    font-size: 15px;
}
/* .btn-add::after {
    content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
  /*  font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
 } */
.array-item-move-up::after { 
    content: 'Move Up';
}
.array-item-move-down::after { 
    content: 'Move Down'; 
}
.array-item-remove::after { 
    content: 'Delete'; 
}